<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Programa tu viaje!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item >
    <ion-label position="floating">Lugar de Destino</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      Hora de salida 
      <ion-datetime presentation="time"></ion-datetime>
    </ion-label>
    
    <!--   -->
    
  </ion-item>


</ion-content>


