<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="titulo">Inicio</ion-title>
  </ion-toolbar>
  
</ion-header>


<ion-content>

<ion-item>
  <ion-avatar slot="end">
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" />
  </ion-avatar>
</ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Cómo funciona?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      La función de TeLlevoAPP es reducir los tiempos que los estudiantes de Duoc demoran en encontrar movilización para regresar a sus hogares,
      además de hacer un viaje más económico y más seguro para todos.
    </ion-card-content>
  </ion-card>

  <ion-label class="botonesHome">
    <ion-button expand="full" href="#" size="large" [routerLink]="['/programar-viaje']">
      <ion-icon name="car-sport-outline" class="icono"></ion-icon>
      Programar un viaje
    </ion-button>
  </ion-label>

  <ion-label class="botonesHome">
    <ion-button expand="full" href="#" size="large" [routerLink]="['/buscar-viajes']">
      <ion-icon name="person-add-outline" class="icono"></ion-icon>
      Buscar viajes
    </ion-button>
  </ion-label>

  <ion-label class="botonesHome">
    <ion-button expand="full" href="#" size="large" [routerLink]="['/reportar-problema']">
      <ion-icon name="alert-outline"></ion-icon>
      Reportar un problema
    </ion-button>
  </ion-label>

</ion-content>
